<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <form action="/index" method="GET">
    <label for="nickname">Enter your nickname:</label>
    <input type="text" id="nickname" name="nickname" required>
    <button type="submit">Join Chat</button>
  </form>
</body>
</html>
